$install_dest_path="{{ jira_bkp_win }}\JIRA_{{ datetime_suffix }}_INSTALL.zip"
$home_dest_path="{{ jira_bkp_win }}\JIRA_{{ datetime_suffix }}_HOME.zip"

Compress-Archive -Path "{{ jira_install_win }}" -DestinationPath $install_dest_path
Compress-Archive -Path "{{ jira_home_win }}" -DestinationPath $home_dest_path
