<?xml version="1.0" encoding="UTF-8"?>

<jira-database-config>
    <name>defaultDS</name>
    <delegator>default</delegator>
    <database-type>mssql</database-type>
    <schema-name>dbo</schema-name>
    <jdbc-datasource>
        <url>{{ db_host_mssql }}</url>
        <driver-class>{{ db_driver_class_mssql }}</driver-class>
        <username>{{ db_user }}</username>
        <password>{{ db_pass }}</password>
        <pool-min-size>20</pool-min-size>
        <pool-max-size>40</pool-max-size>
        <pool-max-wait>30000</pool-max-wait>
        <validation-query>select 1</validation-query>
        <min-evictable-idle-time-millis>60000</min-evictable-idle-time-millis>
        <time-between-eviction-runs-millis>300000</time-between-eviction-runs-millis>
        <pool-max-idle>20</pool-max-idle>
        <pool-remove-abandoned>true</pool-remove-abandoned>
        <pool-remove-abandoned-timeout>300</pool-remove-abandoned-timeout>
        <pool-test-on-borrow>false</pool-test-on-borrow>
        <pool-test-while-idle>true</pool-test-while-idle>
    </jdbc-datasource>
</jira-database-config>