$Shell = New-Object -com Shell.Application
$all_items = $Shell.NameSpace("{{ jira_temp_win }}\jira.zip").Items() | Select-Object -First 1
$folder_to_rename = $all_items.Name

Microsoft.PowerShell.Archive\Expand-Archive -LiteralPath "{{ jira_temp_win }}\jira.zip" -DestinationPath "{{ jira_temp_win }}"

Rename-Item -Path "{{ jira_temp_win }}\$($folder_to_rename)" -NewName "JIRA_{{ jira_version }}" -Force