rmiPort$Long={{ jira_rmi }}
app.jiraHome={{ jira_home_win }}
app.install.service$Boolean=true
existingInstallationDir={{ jira_install_win }}
sys.confirmedUpdateInstallationString=false
sys.languageId={{ jira_lang }}
sys.installationDir={{ jira_install_abs_win }}/JIRA_{{ jira_version }}
executeLauncherAction$Boolean=true
httpPort$Long={{ jira_http_port }}
portChoice=default